*.o
*.cf
*.fst
*.fst.hier
verification/tb_pll/tb_pll
verification/tb_top_edu_bbt/tb_top_edu_bbt
verification/tb_bb_modulator/tb_bb_modulator
verification/tb_test_modem_channel/tb_test_modem_channel
verification/tb_bb_modulator_and_channel/tb_bb_modulator_and_channel
